@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-Italic.eot');
    src: local('Merriweather Sans Italic'), local('MerriweatherSans-Italic'),
        url('MerriweatherSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-Italic.woff2') format('woff2'),
        url('MerriweatherSans-Italic.woff') format('woff'),
        url('MerriweatherSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-ExtraBold.eot');
    src: local('Merriweather Sans ExtraBold'), local('MerriweatherSans-ExtraBold'),
        url('MerriweatherSans-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-ExtraBold.woff2') format('woff2'),
        url('MerriweatherSans-ExtraBold.woff') format('woff'),
        url('MerriweatherSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-Bold.eot');
    src: local('Merriweather Sans Bold'), local('MerriweatherSans-Bold'),
        url('MerriweatherSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-Bold.woff2') format('woff2'),
        url('MerriweatherSans-Bold.woff') format('woff'),
        url('MerriweatherSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-Regular.eot');
    src: local('Merriweather Sans'), local('MerriweatherSans-Regular'),
        url('MerriweatherSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-Regular.woff2') format('woff2'),
        url('MerriweatherSans-Regular.woff') format('woff'),
        url('MerriweatherSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-Light.eot');
    src: local('Merriweather Sans Light'), local('MerriweatherSans-Light'),
        url('MerriweatherSans-Light.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-Light.woff2') format('woff2'),
        url('MerriweatherSans-Light.woff') format('woff'),
        url('MerriweatherSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-BoldItalic.eot');
    src: local('Merriweather Sans Bold Italic'), local('MerriweatherSans-BoldItalic'),
        url('MerriweatherSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-BoldItalic.woff2') format('woff2'),
        url('MerriweatherSans-BoldItalic.woff') format('woff'),
        url('MerriweatherSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-LightItalic.eot');
    src: local('Merriweather Sans Light Italic'), local('MerriweatherSans-LightItalic'),
        url('MerriweatherSans-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-LightItalic.woff2') format('woff2'),
        url('MerriweatherSans-LightItalic.woff') format('woff'),
        url('MerriweatherSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather Sans';
    src: url('MerriweatherSans-ExtraBoldItalic.eot');
    src: local('Merriweather Sans ExtraBold Italic'), local('MerriweatherSans-ExtraBoldItalic'),
        url('MerriweatherSans-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('MerriweatherSans-ExtraBoldItalic.woff2') format('woff2'),
        url('MerriweatherSans-ExtraBoldItalic.woff') format('woff'),
        url('MerriweatherSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Regular.eot');
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
        url('Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Regular.woff2') format('woff2'),
        url('Merriweather-Regular.woff') format('woff'),
        url('Merriweather-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Bold.eot');
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
        url('Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Bold.woff2') format('woff2'),
        url('Merriweather-Bold.woff') format('woff'),
        url('Merriweather-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Italic.eot');
    src: local('Merriweather Italic'), local('Merriweather-Italic'),
        url('Merriweather-Italic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Italic.woff2') format('woff2'),
        url('Merriweather-Italic.woff') format('woff'),
        url('Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BoldItalic.eot');
    src: local('Merriweather Bold Italic'), local('Merriweather-BoldItalic'),
        url('Merriweather-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BoldItalic.woff2') format('woff2'),
        url('Merriweather-BoldItalic.woff') format('woff'),
        url('Merriweather-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Light.eot');
    src: local('Merriweather Light'), local('Merriweather-Light'),
        url('Merriweather-Light.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Light.woff2') format('woff2'),
        url('Merriweather-Light.woff') format('woff'),
        url('Merriweather-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-BlackItalic.eot');
    src: local('Merriweather Black Italic'), local('Merriweather-BlackItalic'),
        url('Merriweather-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-BlackItalic.woff2') format('woff2'),
        url('Merriweather-BlackItalic.woff') format('woff'),
        url('Merriweather-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-LightItalic.eot');
    src: local('Merriweather Light Italic'), local('Merriweather-LightItalic'),
        url('Merriweather-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-LightItalic.woff2') format('woff2'),
        url('Merriweather-LightItalic.woff') format('woff'),
        url('Merriweather-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Merriweather';
    src: url('Merriweather-Black.eot');
    src: local('Merriweather Black'), local('Merriweather-Black'),
        url('Merriweather-Black.eot?#iefix') format('embedded-opentype'),
        url('Merriweather-Black.woff2') format('woff2'),
        url('Merriweather-Black.woff') format('woff'),
        url('Merriweather-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

