@import url("./normalize.css");
@import url("../fonts/fonts.css");

* {
    box-sizing: border-box;
}


.button {
    text-decoration: none;
    padding: 1.25rem 2.25rem;
    border-radius: 10rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 700;
    transition-duration: 300ms;
    font-family: 'Merriweather Sans';
}

.prime-btn {
    background-color: #f4623a;
    color: white;
}

.prime-btn:hover {
    background-color: #cf5331;
    transition-duration: 300ms;
}

.second-btn {
    background-color: #f8f9fa;
    color: black;
}

.second-btn:hover {
    background-color: #d3d4d5;
    color: black;
}

hr {
    height: 0.15rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    border: none;
}

.hero-hr {
    background-color: #f4623a;
}

.second-hr {
    background-color: white;
}

header {
    padding: 12.5rem;
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-style: normal;
}

section {    
    text-align: center;
    width: 100%;
    padding: 8rem 0rem;
}

h2 {
    font-size: 56px;
    font-weight: 500;
    margin: auto;
    width: 800px;
    color: white;
    font-family: 'Merriweather Sans';
}

.second-h2 {    
    font-size: 32px;
}

.subtitle {
    width: 800px; 
    margin: auto;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Merrieweather';
}

.first-subtitle {
    font-size: 1.4rem;  
}

.second-subtitle {
    font-size: 1.2rem;
}

.second {
    background-color: #f4623a;
}

.download-section {
    background-color: #212529;
}

.contact-h2 {
    color:#212529;
    font-size: 2.1rem;
}

.contact-subtitle {
    font-size: 1.4rem;
    color: #6c757d;
    width: 45%;
}

.contact-us form {
    padding-top: 50px;
    width: 43%;
    text-align: center;
    flex-direction: column;
    margin: auto;
    display: flex;
    font-family: 'Merriweather';

}

.contact-us form img {
    width: 36px;
    margin: 0 auto;
}

.contact-us form input, textarea {
    padding: 1rem;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #ced4da;
    font-size: 1rem;
}

.contact-us form p {
    color: #212529;
}

footer {
    font-family: 'Merriweather';
    padding: 2rem;
    text-align: center;
    background-color: #f8f9fa;
    color: rgb(0 0 0 / 50%);
    font-size: 14px;
}