@import url("./normalize.css");
@import url("../fonts/fonts.css");

* {
    box-sizing: border-box;
}


.button {
    text-decoration: none;
    padding: 1.25rem 2.25rem;
    border-radius: 10rem;
    font-size: 0.85rem;
    text-transform: uppercase;
    font-weight: 700;
    transition-duration: 300ms;
}

.cta-btn {
    background-color: #f4623a;
    color: white;
}

.cta-btn:hover {
    background-color: #cf5331;
    transition-duration: 300ms;
}

header {
    padding: 12.5rem;
    background-image: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url(../img/bg-masthead.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    font-family: 'Merriweather Sans';
    font-style: normal;
}

header h1 {
    font-size: 56px;
    font-weight: 500;
    margin: auto;
    width: 800px;
    color: white;
}

header p {
    width: 800px;
    font-size: 1.4rem;   
    margin: auto;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Merrieweather';
}

header hr {
    height: 0.15rem;
    max-width: 3.25rem;
    margin: 1.5rem auto;
    background-color: #f4623a;
    opacity: 1;
    border: none;
}